*.o
/.deps/
/.libs/
debug/
nbproject/
ProxyLogs
src/spineproxy
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
spineproxy.kdevelop
spineproxy.kdevelop.pcs
spineproxy.kdevses
src/spineproxy
src/Makefile
/spineproxy.png
/spineproxy.zargo
/spineproxy.txt
/notes.txt
/spineproxy.dia
*.cfg
Doxyfile
setremote.sh
